:root {
    --cor-primaria: #61A9CC;
    --texto-escuro: #686868;
    --texto-claro: #FFFFFF;
    --fonte-sans: 'Hedvig Letters Sans', sans-serif;
    --fonte-serif: 'Hedvig Letters Serif', serif;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

body {
    background-color: var(--texto-claro);
    font-family: var(--fonte-sans);
    color: var(--texto-escuro);
    line-height: 1.5;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
}

main {
    margin-top: 15px;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fonte-serif);
    margin: 0.5rem 0;
    line-height: 1.2;
    color: var(--cor-primaria);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    display: inline-block;
    font-size: 2rem;
}

p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}